{% extends "base.html" %}

{% set show_footer = False %}

{% block body_class %}auth-bg forgot-page{% endblock %}

{% block show_footer %}{% set show_footer = False %}{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/login.css') }}">
{% endblock %}

{% block content %}

<div class="login-container">

    <div class="card">

        <!-- LEFT SIDE -->
        <div class="hero">
            <div class="bg"></div>
        </div>

        <!-- RIGHT SIDE -->
        <form method="POST" action="">

            <h2>ForraTech 🌱</h2>
            <h3>Forgot your password?</h3>

            <p class="info-text">
                Enter your email and we’ll send you a reset link.
            </p>

            <input 
                type="email" 
                id="email"
                name="email" 
                placeholder="Email" 
                required
            >

            <button type="submit">Send reset link</button>

            <p class="register-link">
                Remember your password? 
                <a href="{{ url_for('auth.login') }}">Login</a>
            </p>

        </form>

    </div>

</div>

{% endblock %}