# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter / ML
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Build
dist/
build/