/* =========================
   UTILIDADES
========================= */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
}

/* =========================
   REVEAL ANIMATION
========================= */
.reveal {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
    transition: all 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}